node_modules
.pnpm-store

.next
.turbo
dist
build

__pycache__
*.pyc
.venv
.python-version
.ruff_cache
.pytest_cache
.mypy_cache
.coverage
htmlcov

.env
.env.local
.env.*.local
!.env.example

.DS_Store
.idea
.vscode
*.swp

logs
*.log

.localstack
postgres_data
redis_data
.vercel
