@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: ui-sans-serif, system-ui, sans-serif;
}
